<p id="notice"><%= flash[:alert] %></p>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <strong>Title:</strong>
  <td><%= @book.title %></td>
</p>
<p>
  <strong>Body:</strong>
  <td><%= @book.body %></td>
</p>
<span>
  <%= link_to "edit", edit_book_path %>
</span>

<span>
  <%= link_to "back", '/books' %>
</span>
